
@model demowebmvc.Models.Student
@{
    ViewData["Title"] = "Crear";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<body>
    <h1>Felicidades</h1>
<p> Valió la pena?</p>

@html.DisplayNameFor(model =>model.Msg)
</body>

